.popup__close-button_login {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 650px) {
  .popup__close-button_login {
    top: -50px;
    left: 135px;
  }
}

@media screen and (max-width: 300px) {
  .popup__close-button_login {
    left: 105px;
  }
}
