.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px 20px;
  max-width: 882px;
  margin: 46px auto 0;
  transition: ease 0.5s;
}

@media screen and (max-width: 945px) {
  .elements {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 650px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
