@import url(./__logo/header__logo.css);
@import url(./__user-container/header__user-container.css);
@import url(./__user/header__user.css);
@import url(./__user-link/header__user-link.css);
@import url(./__user-container/_logout/header__user-container_logout.css);
@import url(./__user-link/_logout/header__user-link_logout.css);

@media screen and (max-width: 450px) {
  .header__menu.header__menu_open {
    display: flex;
  }
}

.header__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #545454;
  transition: all ease 1s;
}

.header__container {
  max-width: 882px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #545454;
  margin: 0 auto 0;
  padding-bottom: 41px;
  padding-top: 45px;
}

@media screen and (max-width: 945px) {
  .header__container {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media screen and (max-width: 450px) {
  .header__container {
    padding-top: 25px;
    padding-bottom: 31px;
    height: 56px;
  }
}

.header__button-wrapper {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}

@media screen and (max-width: 450px) {
  .header__button-wrapper {
    display: flex;
    transition: linear 0.3s all;
  }
}

.header__button-wrapper:hover {
  opacity: 0.7;
  transition: linear 0.3s all;
}

@media screen and (max-width: 450px) {
  .header__button {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .header__button::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .header__button::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
}

.header__button.header__button_active {
  background-color: transparent;
}

.header__button.header__button_active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__button.header__button_active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
