/* @import url(./_avatar/popup_avatar.css);
@import url(./_confirm/popup_confirm.css);
@import url(./_new-place/popup_new-place.css);
@import url(./_opened/popup_opened.css);
@import url(./_zoom/popup_zoom.css); */
@import url(./__input-error/popup__input-error.css);
@import url(./__form/popup__form.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__text/popup__text.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__input/popup__input.css);
@import url(./__containter/popup__container.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__text/_confirm/popup__text_confirm.css);

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.4s ease-in-out;
  align-items: center;
  justify-content: center;
}

.popup__form-login {
  width: 430px;
  height: 330px;
  background: #ffffff;
  border-radius: 10px;
  margin: 34px 36px 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .popup__form-login {
    width: 280px;
    height: 308px;
  }
}

.popup__close-button_login {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 650px) {
  .popup__close-button_login {
    top: -50px;
    left: 135px;
  }
}

@media screen and (max-width: 300px) {
  .popup__close-button_login {
    left: 105px;
  }
}

.popup__image-login {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  margin-bottom: 0;
}

.popup__text-login {
  max-width: 300px;
  height: 58px;
  margin-top: 32px;
  margin-bottom: 60px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .popup__text-login {
    font-size: 20px;
    line-height: 24px;
  }
}
